body {
  background: yellow;
  font-family: 'Sedgwick Ave Display', cursive;
  background: url("../images/wu-tang.jpg");
}

h1 {
  text-align: center;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 70px;
  color: yello;
}

*.container{
  width: 450px;
  background: yellow;

}


/*.questions {
  background: black;
  text-align: center;
  width: 650px;
